/* === variable ===*/

$colorBlue: rgba(0, 0, 255, 0.514);
$titleFont: sans-serif;
$margin1em: 1em;

* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}


.header {
	height: 6rem;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 1.5rem;
    h1, h2 {
        font-size: 1rem;
    }
}

.nav_links {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
    background-color: $colorBlue;

    li {
        padding:1rem;
        list-style: none;
        a {
            text-decoration: none;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
    .section_text {
        margin: margin1em;
        h3 {
        text-align: center;
        font-family: titleFont;   
    }
    }
    .section_images {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: margin1em;
        img {
            height: 12rem;
            width: 18rem;
            margin: 0 0.5rem 1rem 0.5rem
        }
    }
}


.aside {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin: 1rem;

    .first_aside, .second_aside, .third_aside, .fourth_aside {
        border: 0.2rem solid $colorBlue;    
        padding: 1rem;
        margin-bottom: 1rem;
    }
}

.footer {
	height: 5rem;
	margin-top: 1rem;
	background-color: $colorBlue;
    .footer_links {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

@import "./mediaQ.scss"

